.box {
    border: 1px solid #000;
    width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    border-radius: 10px;
    background-color: white;
  }
  
  .box:hover {
    transform: scale(1.02);
    overflow: hidden;
  }
  .h1
  {
    color: #3CB371;
  }
  .text-box-header {
    text-align: left;
    font-family: 'Lobster', cursive;
  }