@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

.btn-outline-success:hover{
    background-color: #F4F4EB;
    color: #443806;
}
.btn{
    margin-right: 15px;
}
.nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.nav-link:hover{
    color: #F4F4EB;
}
.btn-user {
    background-color: #F4F4EB; /* Blue background */
    border: none; /* Remove borders */
    color: #443806;
    padding: 9px 13px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
.btn-primary{
    background-color: #443806;
    border-color: #443806;
    font-size: 20px;
}
.fa-user{
    color: #443806;
}
.fa-user:hover{
    color: #F4F4EB;
}
