@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.website-container-drgui {
    display: flex;
    justify-content: space-between;
    padding: 50px; 
  }
  
  .body{
    background-color:  #efefef;
  }
  
 
  .patient-requests {
    width: 20%; 
  }
  

.patient-requests.boxed {
    border: 1px solid #ccc;
    padding: 20px; 
    background-color: #e3dac9;
    width: 400px;
    height: 1000px;
  }
  
  .patient-requests.boxed h2 {
    font-size: 18px; 
    color:  #443806;
    font-family: "Arapey",serif;
  }
 
  
  .patient-requests.boxed ul {
    list-style: none; 
  }
  
  .patient-requests.boxed li {
    margin: 10px 0;
  }
  
  .patient-requests.boxed button {
    background-color: #C4D4A2;
    color: #443806; 
    border: none; 
    padding: 5px 10px; 
    margin-left: 5px; 
  }
 
  
  

  
  .request-info {
    flex-grow: 1;
    text-align: left;
    width: 200px;
    
  }
  
  .button-container-drgui {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px; }
  
  .button-container-drgui button {
    margin-bottom: 5px; 
  }
  .patient-request {
    margin-bottom: 20px;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .request-name {
    font-weight: bold;
    
    margin-bottom: 10px; 
    
  }
  
  .button-container-drgui {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .popup-msg {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    border-radius: 4px;
    height: 50px;
  }
  .contact-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: #fff;
  }
  
  
  .accept-button-drgui{
    background-color:  #443806;
  }
  .container-drgui {
    display: flex;
    justify-content: flex-end;
  }
  .date_control{
    padding: 10px;
  }
  .time_control{
    padding: 20px;
  }
  .date-label
  {
    padding: 10px;
  }
  .time_label{
    padding: 10px;
  }
  .Doctorform{
    margin-top: 20px; /* Adjust the margin as needed */
    width: 500px;
      margin-left: auto;
      margin-right: 300px;
      padding: 2px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      height: 300px;
  }
  .Doctorformlabel{
    display: block;
    margin-bottom: -2px;
    font-weight: bold;
    color: #333;
    width: 500px;
  }
  .Doctorforminput{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  .button-container-Doctorform{
    display: flex;
    gap: 16px; 
    margin-left: 75px;
  }
.Doctorformbutton{
  background-color: #70663E;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 300px;
  height: 50px;
}
