
.box-ConditionsCard {
    border: 1px solid #000;
    width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 150px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    border-radius: 10px;
    background-color: white;
  }
  .h1
  {
    color: #443806;
    font-family: "Arapey",serif;
  }
  .text-box-ConditionsCard-header {
    text-align: left;
    font-family: 'Lobster', cursive;
    font-family: "Arapey",serif;
  }
  .text-box-ConditionsCard-header1{
    text-align: left;
    font-family: 'Lobster', cursive;
    font-family: "Arapey",serif;
  }