
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
  .quiz-card {
    max-width: 1500px; 
    width: 100%;
    height: 170px;
    box-sizing: border-box;
  }
  
  .quiz-card-text
  {
    text-align: left;
    font-family: "Arapey",serif;
    padding: 10px;
  }
  
.submit-button-container {
  text-align: right;
  padding: 10px; 
}

.submit-button {
  background-color: #443806; 
  color: #fff; 
  border: none; 
  padding: 10px 20px;
  font-family: "Arapey",serif;
  border-radius: 5px;
}

.goback-button {
  background-color: #443806; 
  color:#fff ; 
  border: none; 
  padding: 10px 20px; 
  float: left; 
  font-family: "Arapey",serif;
  border-radius: 5px;
}
.goback-button-container {
  text-align: left;
  padding: 10px; 
}

.custom-link {
  text-decoration: none;
  color: #fff; 
  
}



.goback-button-container {
  float: left; 
  width: 50%; 
}

.submit-button-container {
  float: right;
  width: 50%; 
  text-align: right; 
}
.form-check-input{
  text-align: left;
  padding-top: -10px;

}
.form-check-label{
  text-align: left;
  padding:2px;
  margin: 0px;
}