@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.column {
    width: 18.3%;
    margin-bottom: 16px;
    padding-left:40px;
    padding-right: 10px;
    padding-bottom: 5px;
}
  
@media screen and (max-width: 650px) {
    .directory-card {
        width: 40%;
    }
}
  
.directory-card {
    margin: 10px;
    width: 100%; 
    height: 100;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    transition: transform 0.3s ease;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 40px;
}

.directory-card:hover {
    transform: scale(1.1);
}

.directory-card-image{
    width: 200px;
    height: 190px;

}

.heading {
    font-family: "Arapey",serif;
    font-weight: 200; 
    font-size: 3em;
    background-color: transparent;
    color: aliceblue;
} 

.para{
    font-size: x-large;
    font-family: "Arapey",serif;
}

.directory-card-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif ;
}
  .container {
    padding: 0 16px;
    
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.directory-title {
    color: #333333;
}
  
.chat-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 1px;
    color: #000;
    background-color: #70663E;
    text-align: center;
    cursor: pointer;
    width: 70%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.directory-button-1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 1px;
    color: #FFFFFF;
    background-color: #70663E;
    text-align: center;
    cursor: pointer;
    width: 70%;
    border-radius: 12px;
}

.heading-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
}
.h3
{
    font-family: "Arapey",serif;
    color: #333333;
}
.directoryform{
    margin-top: 20px; /* Adjust the margin as needed */
width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.directoryformlabel{
    display: block;
  margin-bottom: -2px;
  font-weight: bold;
  color: #333;
  width: 500px;
}
.directoryforminput{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.directoryformbutton{
    background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.admindirectory-card{
    margin-left: 70px;
    width: 235px; 
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    transition: transform 0.3s ease;
    border-radius: 15px;
    overflow: hidden;

    
}
.admindirectory-card-image{
    width: 230px;
    height: 200px;
    padding: 10px;
}
.admindirectory-button-1{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 1px;
    color: #FFFFFF;
    background-color: #70663E;
    text-align: center;
    cursor: pointer;
    width: 70%;
    border-radius: 12px;
}
.adimidirectory-chat-button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 1px;
    color: #000;
    background-color: #70663E;
    text-align: center;
    cursor: pointer;
    width: 70%;
    border-radius: 12px;
    margin-bottom: 10px;
}
.admindirectory-card-title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif ;
}

.directoryformlabel {
    display: block;
    margin-bottom: 8px; 
    font-size: 16px; 
    background-origin: padding-box;
  }
  .button-container-admindirectorform
  {
    display: flex;
    gap: 16px; 
    margin-left: 75px;
  }
 .directoryformbutton{
    background-color: #70663E;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 50px;
 }
 .admindirectory-card-container {
    display: flex;  /* Use flexbox */
    flex-wrap: wrap;  /* Wrap to the next line if there's not enough space */
    justify-content: space-around;  /* Distribute space around items */
  }
  
  
