@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.directory-card {
    margin: 10px;
    width: 200px; 
    height: 150px;
    background-color: #a79b6b;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    transition: transform 0.3s ease;
}

.directory-card:hover {
    transform: scale(1.1);
}

@media(min-width:600px){
    .card{
        width: 100;
        height: 100;
    }
}
.container {
    margin-top: 20px;
    padding-left:20px;
    padding-right: 20px;
}

.heading {
    color: #423d27;
    font-family: "Arapey",serif;
    font-weight: 200;
    animation: fadeIn 1.5s ease-in-out; 
    font-size: 3em;
    
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}  

.card-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif ;
}

.card-text {
    font-size: 14px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
  }
  
.card-button {
    padding: 10px 20px;
    width:130px;
    height:40px;
    background-color: #887c4e;
    color: aliceblue;
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
  
}
.card-button:hover{
    background-color: #696552;
}
.col{
    padding-left:30px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.para{
    font-size: x-large;
    font-family: "Arapey",serif;
}