@font-face {
  font-family: 'Migra';
  src: url(./Migra-Extralight.woff) format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.heading{
    padding-bottom: 15;
    font-size: 100px;
    font-family: 'Migra', sans-serif;
}

.home-header {
    padding-top: 90px !important;
    text-align: center;
    padding-right: 20px;
}
.home-section {
    position: relative;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px !important;
    padding-top: 70px !important;
    padding-left: 20px;
    color: #443806;
    scroll-behavior: smooth;
  }
  .heading-content{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
  }
.home-video{
  width: 600px;
   height:320px;
   margin-top: 50px;
}
.directory-about-description{
  color: #443806;
  font-family: "Arapey",serif;
  font-size:xx-large;
  text-align: center;
  padding-top: 70px;
  padding-right: 40px;
}
#directory-button{
  background-color: #443806;
  color: #F4F4EB;
  border-color: #443806;
  font-family: "Arapey",serif;
}
.home-directory{
  padding-bottom: 130px;
}
#quiz-button{
  background-color: #443806;
  color: #F4F4EB;
  border-color: #443806;
  font-family: "Arapey",serif;
}
.home-quizzes{
  padding-bottom: 130px;
}
.quiz-about-description{
  color: #443806;
  font-family: "Arapey",serif;
  font-size:xx-large;
  text-align: center;
  padding-top: 70px;
  padding-left: 40px;
}
.getstart-button {
  background-color: #443806; 
  color:#fff ; 
  border: none; 
  padding: 10px 20px; 
  float: center; 
  font-family: "Arapey",serif;
  border-radius: 5px;
  width: 125px;
  height: 50px;
}
.getstart-button-container {
  text-align: center;
  padding: 10px; 
}
.quizzes-button-container{
  text-align: center;
  padding: 10px; 
}
.quizzes-button{
  background-color: #443806; 
  color:#fff ; 
  border: none; 
  padding: 10px 20px; 
  float: center; 
  font-family: "Arapey",serif;
  border-radius: 5px;
  width: 125px;
  height: 50px;
}