@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
* {
    box-sizing: border-box;
}
.reservation{
    font-family: "Arapey",serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.reservation-container{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #C4D4A2;
    height: fit-content;
    width: fit-content;
    padding: 20px 40px;
    border-radius: 5px;
}
.form-header{
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}
.btn-primary{
    cursor: pointer;
    display: inline-block;
    padding-top: 50px;
    background: #443806;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
.btn-primary:focus{
    outline: 0;
}
.btn-primary:active{
    transform: scale(0.98);
}
.form-group{
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width:300px;
}
.gender-label{
    position: relative;
    padding-right: 30px;
    cursor: pointer;
}
.your-custom-button-class{
    background-color: #443806;
}