@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
.websitecontainer {
  padding: 50px; 
  width: 8800px;
  height: 100%;
}

.bookboxed {
  background-color:#e3dac9 ;
  width: 1700px;
  height: 1000px;
  border: 1px solid #ccc;
 padding: 20px;
}
.row{
  width: 1000%;
}
.youtubeboxed{
  background-color:#e3dac9 ;
  width: 80000px;
  height: 6000px;
  border: 1px solid #ccc;
  padding: 10px;
  
}
.articalboxed{
  background-color:#e3dac9 ;
  width: 100%;
  height: 1000px;
  border: 1px solid #ccc; 
 padding: 20px;

}
.youtubevideo {
  width: 300px;
  height: 200px;
  padding: 10px;
}



.youtubeh{
  padding: 0;
}

.articalcard{
  padding: 17px;
}

.card {
  width: 420px;
  height: 220px;
}
 .h1{
  text-align: center;
  color:  #443806;
  font-family: "Arapey",serif;
 }

.rh3{
  text-align: left;
  padding: 30px;
  color:  #443806;
  font-family: "Arapey",serif;
}
.resourcelibraryh{
  padding: 20px;
  color:  #443806;
  font-family: "Arapey",serif;

}
.header-container {
  display: flex;
  align-items: center; 
}
.yotubeboxp{
  padding: 10px;
  text-align: right;
}
.titalh{
  text-align: left;
  padding: 20px;
  color:  #443806;
  font-family: "Arapey",serif;
}
.librarycard{
  width: 1350px;
  height: 120px;
  padding: 10px;
}
.rcard{
  width: 1350px;
  height: 120px;
  padding: 10px;
}
.rounded-custom{
  width: 150px;
  height: 200px;
  align-items: center;
  padding: 10px;
}
.rounded-start{
 width: 170px;
 height: 100px;
 align-items: center;
 padding: 10px;

}
.articalh5{
  text-align: left;
}
.articala{
  text-align: right;
}

.youtubrbutton {
  background-color: white;
  color: black; 
  padding: 10px ; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}

.bookbutton{
  background-color: rgba(205, 191, 191, 0.879);
  color: black; 
  padding: 10px ; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  height: 40px;
  
}
.articalabtn{
  background-color: rgba(205, 191, 191, 0.879);
  color: black; 
  padding: 10px ; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  height: 40px;
  text-align: right;
  margin-left: 600px;
  
}